body {
  margin: 0;
  background: #222;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.hidden {
  display: none;
}

#lobby, #creator {
  padding-top: 100px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
}

#gameCanvas {
  background: black;
  display: block;
  margin: 0 auto;
}

#scoreUI {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}
